<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/style/main.min.css">
    <title>Административная панель</title>
</head>
<body class="admin"> 
    <div class="wrapper">
        <header class="admin-header">
            <div class="admin-header__container">
                <span class="admin-logo">Административная панель</span>
                <a class="admin__back-btn" href="/">Вернуться на сайт</a>
            </div>
        </header>
        <div class="admin-content">
            <div class="admin-content__container">
                <% posts.forEach(function(post){ %>
                    <div class="client">
                        <div class="client__name">
                            <span><%= post.name %></span>
                            <form class="form-delete" method="post" action="/admin/authorized">
                                <input type="text" name="_id" hidden value=<%= post._id %>>
                                <input type="submit" class=".del-btn" value="удалить">
                            </form>
                        </div>
                        <div class="client__data hidden">
                            <p>Имя - <%= post.name %></p><br>
                            <p>Телефон - <%= post.phoneNumber %></p><br>
                            <p>Почта - <%= post.email %></p><br>
                            <p>Сообщение - <%= post.message %></p><br>
                        </div>
                    </div>
                    
                    
                <% }); %>
            </div>
        </div>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/js/main.min.js"></script>
</body>
</html>